<h2>Movies</h2>
  <ul>
    <% @movies.each do |movie| %>
      <li><a href="/movies/<%= movie['id'] %>"><%= movie['title']%></a></li>
      year: <%= movie["year"] %>
      rating: <%= movie["rating"] %>
      genre: <%= movie["genre_id"] %>
      studio: <%= movie["studio_id"] %>
    </li>
      <% end %>
  </ul>
